@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

/* CSS RESET */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
    max-width: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    font-size: inherit;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  ul {
    list-style-type: none;
  }

  a, a:visited, a:hover {
    color: inherit;
    text-decoration: none;
  }

/* Styling */

:root {
    --cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --dark-blue: hsl(210, 10%, 33%);
    --gray-blue: hsl(201, 11%, 66%);
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
    font-size: 18px;

    background-image: url(/images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
}

h1, h2, h3 {
    font-weight: 600;
    color: var(--dark-blue);
}

img {
    margin-inline: auto;
}

p {
    color: var(--gray-blue)
}

.container {
    padding-inline: 1.5em;
}

header{
    margin-top: 5em;
}

header > img {
    margin-bottom: 2.5em;
}

header > h1 {
    font-size: 2rem;
    margin-bottom: 0.5em;
}

header > p {
    padding-inline: 0.4em;
    font-size: 1rem;
    margin-bottom: 2.5em;
}

button {
    display: inline-block;
    border: none;
    border-radius: 100px;
    background-color: var(--cyan);
    border-bottom: 3px solid var(--dark-blue);
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    width: 100%;
    height: 3em;
    cursor: pointer;
    max-width: 48em;
}

button:hover{
  filter: brightness(115%);
}

button + button {
    background-color: var(--light-blue);
    margin-top: 1em;
}

article h2 {
    font-size: 1.75rem;
    padding-inline: 0.4em;
    margin-bottom: 1em;
}

.snippets h2 {
  margin-top: 7.5em;
}

article p {
    margin-bottom: 2rem;
    font-size: 1rem;
    padding-inline: 0.4em;
}

article img {
    margin-bottom: 3.5rem;
}

article h3 {
    font-size: 1.5rem;
    margin-bottom: 0.25em;
}

.clipboard h2 {
  margin-top: 5em;
}

.features {
    padding-inline: 2em;
}

.features h2 {
  margin-top: 5em; 
  margin-bottom: 0.5em;
}

.features h2 + p {
    margin-bottom: 5em;
}

.features p {
    padding-inline: 1.5em;
}

.features img {
    margin-bottom: 1.5em;
}

.features h3 + p {
    margin-bottom: 5em;
}

.features > .other p:last-of-type {
    margin-bottom: 10em;
}

.partners ul {
    padding: 0;
}

.partners ul > li {
    margin-bottom: 1em;;
}

.cta h2 {
  margin-top: 7.5em;
}

.cta > button:last-of-type {
    margin-bottom: 10em;
}

footer {
    padding-top: 1.5em;
    background-color: rgba(220, 220, 220, 0.4);
    padding-bottom: 2em;
}

footer img {
    margin: 1.5em auto;
    width: 3.5em;
}

footer ul {
    padding: 0;
}

footer ul:first-of-type>li {
    margin-bottom: 1em;
}

footer a:hover {
  color: var(--cyan);
}

footer ul:first-of-type>li:last-of-type {
    margin-bottom: 2.5em;
}

.social img {
  width: 1.5em;
  margin-inline: none;
}

.social img:hover {
  filter: invert(60%) sepia(44%) saturate(638%) hue-rotate(122deg) brightness(92%) contrast(94%);
}

.social ul,.social li,.social img{
    margin: 0;
    padding: 0;
    display: inline-block;
}

.social li + li {
    margin-left: 2em;
}

@media screen and (min-width: 1000px) {
  header > h1 {
    font-size: 2.5rem;
  }

  button {
    max-width: 12.5em;
  }

  button + button {
    margin-left: 1em;
  }

  header > p, article p {
    font-size: 1.2rem;
    margin-inline: auto;
    max-width: 60ch;
    padding-inline: 0;
  }

  article h2 {
    font-size: 2.2rem;
  }

  article h2+p {
    font-size: 1.15rem;
  }

  article p {
    font-size: 1rem;
  }

  .snippets { 
    display: grid;
    grid-template-areas: "a a"
                         "b c";
                         row-gap: 2em;
  }

  .snippets > .main {
    grid-area: a;
    margin-inline: auto;
  }

  .snippets img {
    grid-area: b;
    margin-left: -5em;
  }

  .snippets .other {
    grid-area: c;
    text-align: left;
    align-self: center;
    justify-self: left;
    min-width: 50%;
    margin-top: -5em;
    margin-left: -15em;
  }

  .snippets > .other p {
    max-width: 35ch;
  }

  .clipboard h2 {
    margin-top: 2.5em;
  }

  .features h2 {
    margin-top: 2.5em;
  }

  .features .other {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    align-items: baseline; 
    column-gap: 1em;
  }

  .features p:first-of-type {
    padding-inline: 0;
    max-width: none;
  }

  .features p {
    padding-inline: 0;
    max-width: 32ch;
  }

  .features > .other p:last-of-type {
    margin-bottom: 7.5em;
  }
  
  .partners ul {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
  }

  .cta h2 {
    margin-top: 2em;
  }

  footer {
    display: grid;
    justify-content: normal;
    align-items: center;
    grid-template-areas: "a b c";
  }

  footer img {
    grid-area: a;
    margin: 0;
    margin-inline: auto;
  }

  footer ul:first-of-type {
    grid-area: b;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    column-gap: 2.5em;
    max-height: 5em;
  }

  footer ul:first-of-type>li {
    margin-bottom: 0.5em;
  }

  footer ul:first-of-type>li:last-of-type {
    margin-bottom: 0em;
  }

  footer .social {
    grid-area: c;
  }
}